.doctor_form_popup_background {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000000a1;
  top: 0;
  right: 0;
  z-index: 1;

  .doctor_form_popup {
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 50%;
    top: 131px;
    width: 100%;
    transform: translate(-50%, 0);
    overflow: auto;
    border-radius: 30px 30px 0 0;
    background: #fff;
    animation-name: slow_toggle_nav;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
  }
  @keyframes slow_toggle_nav {
    0% {
      transform: translate(-50%, 100%);
    }
    100% {
      transform: translate(-50%, 0);
    }
  }
}

.doctor_form {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: auto;
  .input_form_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .Input_div {
      width: 32%;
      input {
        border: 1px solid #ffece0;
        padding: 13px 20px;
      }
      .labelHead {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.3px;
        color: #2a2e51;
      }
    }
    .first_dropdown_div {
      width: 32%;
      .doctor_spac {
        font-weight: 400;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.3px;
        color: #2a2e51;
        margin-bottom: 8px;
      }
    }
  }
  .day_time {
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
    align-items: flex-end;
    .day_div {
      width: 23%;
      position: relative;
      input {
        border: 1px solid #ffece0;
        padding: 13px 20px;
      }
      .time_lebel {
      }
      .start_time_div {
        border: 1px solid #ffece0;
        padding: 13px 10px;
        border-radius: 500px;
        display: flex;
        justify-content: space-evenly;
        .hours {
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: -0.3px;
          color: #2a2e51;
          cursor: pointer;
        }
        .divider {
          border: 1px solid #c9c9c9;
        }
        .minutes {
          font-weight: 300;
          font-size: 14px;
          line-height: 21px;
          letter-spacing: -0.3px;
          color: #2a2e51;
          cursor: pointer;
        }
      }
      .hours_drop {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 125px;
        height: 241px;
        left: 0px;
        top: 80px;
        background: #ffffff;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        gap: 8px;
        z-index: 1;
        overflow: auto;
        .drop_hour {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          text-transform: capitalize;
          color: #0f2f62;
        }
      }
      .minutes_drop {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 125px;
        height: 241px;
        right: 20px;
        top: 82px;
        background: #ffffff;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        gap: 8px;
        z-index: 1;
        overflow: auto;
        .drop_time {
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          text-transform: capitalize;
          color: #0f2f62;
        }
      }
      .btn_div {
        display: flex;
        align-items: center;
        gap: 20px;
        .doctorSeacrhBtn {
          padding: 11px 20px;
        }
        Button {
          width: 100%;
        }
        .circle_cross {
          box-sizing: border-box;
          width: 24%;
          height: 50px;
          background: #ffffff;
          border: 1px solid #ffece0;
          border-radius: 500px;
          position: relative;
          img {
            position: absolute;
            bottom: 15px;
            left: 16px;
          }
        }
      }
    }
  }
}

.hours_drop::-webkit-scrollbar {
  width: 6px;
}

.hours_drop::-webkit-scrollbar-track {
  background-color: #c5c5c5;
  border-radius: 10px;
}

.hours_drop::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f35709;
}
.minutes_drop::-webkit-scrollbar {
  width: 6px;
}

.minutes_drop::-webkit-scrollbar-track {
  background-color: #c5c5c5;
  border-radius: 10px;
}

.minutes_drop::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #f35709;
}

@media screen and (max-width: 767px) {
  .doctor_form {
    .input_form_list {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 15px;
      .Input_div {
        width: 100%;
      }
      .first_dropdown_div {
        width: 100%;
      }
    }
    .day_time {
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      flex-wrap: wrap;
      gap: 10px;
      padding: 0px 20px 10px 20px;
      .day_div {
        width: 100%;
        .btn_div {
          .circle_cross {
            width: 18%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 400px) {
  .doctor_form {
    .day_time {
      .day_div {
        .btn_div {
          .circle_cross {
            width: 21%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 370px) {
  .doctor_form {
    .day_time {
      .day_div {
        .btn_div {
          .circle_cross {
            width: 24%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 356px) {
  .doctor_form {
    .day_time {
      .day_div {
        .btn_div {
          .circle_cross {
            width: 26%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 320px) {
  .doctor_form {
    .day_time {
      .day_div {
        .btn_div {
          .circle_cross {
            width: 28%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 315px) {
  .doctor_form {
    .day_time {
      .day_div {
        .btn_div {
          .circle_cross {
            width: 32%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 290px) {
  .doctor_form {
    .day_time {
      .day_div {
        .btn_div {
          .circle_cross {
            width: 36%;
          }
        }
      }
    }
  }
}
