.tmp_lt_1 {
  .grn_tck {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .thnk_u {
    color: #ed7b30;
    font-size: 26px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .thnks_fr_vst {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 13px;
    color: #55616c;
  }
  .msg_dt {
    font-weight: 300;
    font-size: 13px;
    margin: 25px 25px 5px 45px;
  }
  .card_prt {
    margin: 25px 25px 5px 45px;
  }
  .rvw_btn {
    background-color: #0f2f62;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    padding :15px;
    text-align: center;
    border-radius: 200px;
    margin: 25px 25px 25px 25px;
  }
}
