.alrvwhdng {
  display: flex;
  align-items: center;

  .alrvwhdr {
    color: #193b68;
    font-size: 18px;
    font-weight: 600;
  }
  .alrvwnm {
    color: #193b68;
    font-size: 13px;
    font-weight: 400;
    margin-top: 2px;
  }
}
