.tmplt {
  padding: 20px 0px 0px 20px;
  .nm_ptnt {
    font-size: 22px;
    color: #ed7b30;

    font-weight: 600;
  }
  .apnt_dt {
    font-weight: 300;
    font-size: 13px;
    padding-bottom: 10px;
  }
  .al_dtls {
    font-weight: 300;
    font-size: 15px;
  }
}
