.mdcl_crtf {
  width: 700px;
  text-align: center;
  .cert_hdng {
    font-size: 30px;
    text-align: center;
    font-weight: 500;
  }
  .cert_inr_dt {
    padding: 30px 0px 150px 0px;
    color: #4f537a;
  }
}
