@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

@font-face {
  font-family: "graphitblack";
  src: url("../Graphit/graphit-black-webfont.woff2") format("woff2"),
    url("../Graphit/graphit-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graphitlight";
  src: url("../Graphit/graphit-light-webfont.woff2") format("woff2"),
    url("../Graphit/graphit-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graphitmedium";
  src: url("../Graphit/graphit-medium-webfont.woff2") format("woff2"),
    url("../Graphit/graphit-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graphitregular";
  src: url("../Graphit/graphit-regular-webfont.woff2") format("woff2"),
    url("../Graphit/graphit-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "graphitthin";
  src: url("../Graphit/graphit-thin-webfont.woff2") format("woff2"),
    url("../Graphit/graphit-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//shadow
$box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);

//colors
$primaryColor: #193b68;
$secondaryColor: #ed7b30;

//fonts
$primaryFont: "Poppins", sans-serif;
$secondaryFont: "graphitregular";
$graphitmd: "graphitmedium";
$tertiairyFont: "Roboto", sans-serif;
$merriWheater: "Merriweather", serif;
